.footerContainer {
  width: 100%;
  padding: 3.5rem;

  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-gap: 4px;
}

.footerLightColor {
  background-color: #f5f6f7;
  color: black;
}

.footerDarkColor {
  background-color: #1c1e21;
  color: white;
}

.footerContainer p {
  margin: 0;
  font-size: 16px;
}

.footerLogo {
  width: 150px;
  height: 32px;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .footerContainer {
    padding: 2rem 1.5rem;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
  }

  .footerLogo {
    height: 32px;
    width: auto;
    margin-bottom: 10px;
  }

  .footerContent {
    flex: 1;
    align-self: stretch;

    display: flex;
    flex-wrap: wrap;
  }

  .footerContent p {
    font-size: 12px;
    word-break: break-word;
    white-space: normal;
  }
}
